<div class="nav-wrapper">
    <div class="box"></div>
    
    <div class="container">
        <a href="index.html" class="static-logo-btn" aria-label="Go to Home Page">
            <img src="logo.svg" alt="ISI Logo" width="60" height="70">
        </a>
        <a class="button" href="index.html">Home Page</a>
        <a class="button" href="downloadPage.html">Download</a>
        
        <a class="button" href="#">Tutorials</a>
        <a class="button" href="#">Functions Reference</a>
        
        <a class="button" href="https://github.com/deadpitixd/isi">Github Page</a>
    </div>
</div>